In [1]:
# Import required libraries
import pandas as pd
import drms
import numpy as np

In [ ]:
%%time
# Connecting to the server
c = drms.Client()

# The date range for query stored in date.csv
timestamp = pd.read_csv('date.csv')
date = timestamp['date']

# The date 2010.05.02 - 2010.05.03 as first query 
keys = c.query('hmi.sharp_cea_720s[][2010.05.02 - 2010.05.03][? (LON_FWT < 90) AND (LON_FWT > -90) ?]', key='T_REC, HARPNUM, NOAA_ARS, NOAA_AR, LON_FWT, LAT_FWT, TOTUSJH, TOTPOT, TOTUSJZ, ABSNJZH, SAVNCPP, USFLUX, AREA_ACR, MEANPOT, R_VALUE, SHRGT45, MEANSHR, MEANGAM, MEANGBT, MEANGBZ, MEANGBH, MEANJZH, MEANJZD, MEANALP')

# The remaining query being done in a loop 
# This is done this way in order to lessen the connection burden  
for i in range(len(timestamp) - 1): # If connection trouble occurs, the loop range can be saparated into different loops with smaller range 
    keys1 = c.query('hmi.sharp_cea_720s[][' + date[i] + ' - ' + date[i+1] + '][? (LON_FWT < 90) AND (LON_FWT > -90) ?]', key='T_REC, HARPNUM, NOAA_ARS, NOAA_AR, LON_FWT, LAT_FWT, TOTUSJH, TOTPOT, TOTUSJZ, ABSNJZH, SAVNCPP, USFLUX, AREA_ACR, MEANPOT, R_VALUE, SHRGT45, MEANSHR, MEANGAM, MEANGBT, MEANGBZ, MEANGBH, MEANJZH, MEANJZD, MEANALP')
    keys = pd.concat([keys, keys1], ignore_index=True)
    print(i)

keys.drop_duplicates()

# Save the query into a csv file
keys.to_csv('dataset.csv')

In [2]:
df = pd.read_csv('dataset.csv')

In [5]:
df

,Unnamed: 0,T_REC,HARPNUM,NOAA_ARS,NOAA_AR,LON_FWT,LAT_FWT,TOTUSJH,TOTPOT,TOTUSJZ,...,R_VALUE,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP
0,0,2010.05.02_00:00:00_TAI,1,11067,11067,-65.205566,24.177683,298.638,1.878875e+22,5.949744e+12,...,2.479,1.832,17.819,23.882,72.810,75.884,31.044,-0.001544,-0.083294,-0.005115
1,1,2010.05.02_00:12:00_TAI,1,11067,11067,-64.984444,24.106541,301.313,1.905348e+22,5.977893e+12,...,2.483,2.157,18.166,24.393,71.647,74.411,29.846,-0.002460,-0.176605,-0.008261
2,2,2010.05.02_00:24:00_TAI,1,11067,11067,-64.888580,24.135088,312.556,1.954166e+22,6.152751e+12,...,2.491,2.322,18.145,24.500,72.839,75.320,30.416,-0.002394,-0.197845,-0.007963
3,3,2010.05.02_00:36:00_TAI,1,11067,11067,-64.758209,24.144226,316.364,2.166810e+22,6.234756e+12,...,2.791,2.927,18.561,24.714,73.475,76.219,31.189,-0.002040,-0.162419,-0.006730
4,4,2010.05.02_00:48:00_TAI,1,11067,11067,-64.534355,24.097631,331.849,2.409164e+22,7.389016e+12,...,2.794,4.633,19.909,25.323,75.065,81.613,32.784,-0.001154,-0.143143,-0.003972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900684,2900684,2021.12.30_23:12:00_TAI,7912,12923,12923,37.216583,-28.806856,17.246,1.251446e+21,3.618160e+11,...,0.000,11.260,27.357,38.822,148.169,149.718,66.568,0.002266,0.177169,0.006263
2900685,2900685,2021.12.30_23:24:00_TAI,7912,12923,12923,37.328621,-28.814804,19.899,1.381736e+21,4.292386e+11,...,0.000,12.528,28.594,41.130,134.921,139.982,62.222,-0.000042,1.449496,-0.000129
2900686,2900686,2021.12.30_23:36:00_TAI,7912,12923,12923,37.393547,-28.820169,23.266,1.554695e+21,5.211204e+11,...,0.000,20.154,32.024,43.085,122.141,128.427,52.895,-0.002677,0.852646,-0.009535
2900687,2900687,2021.12.30_23:48:00_TAI,7912,12923,12923,37.471878,-28.819061,24.068,1.533791e+21,5.515389e+11,...,0.000,14.206,29.845,40.497,126.887,131.375,53.077,-0.002370,0.416960,-0.008219
2900688,2900688,2021.12.31_00:00:00_TAI,7912,12923,12923,37.472507,-28.829445,25.965,1.729485e+21,5.906243e+11,...,0.000,15.873,32.154,41.915,122.394,127.976,53.686,-0.002104,0.617878,-0.007517